#productionEmissionButton {
    background-color: #dc05ca;
}

#productionEmissionButton:is(:hover, .selected) {
    background-color: #c004b0;
}

#consumptionEmissionButton {
    background-color: #4034f8;
}

#consumptionEmissionButton:is(:hover, .selected) {
    background-color: #2c1ff8;
}