html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.main-header {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

.page-title {
    font-size: 24px;
    color: black;
    text-align: center;
    margin: 0;
    flex-grow: 1; 
}

.section {
    text-align: center;
}

/*------------------------Section Prairie------------------------*/
.ciel {
    background-color: green;
    height: 200px;
}

.terre {
    background-color: blue;
    height: 300px;
}

/*------------------------Section Graphe------------------------*/
.section.carte-graph {
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

.graph-container {
    display: flex;
}

.filters-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.search-bar {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.left-side {
    width: 75%;
    margin-right: 10px;
}

.map {
    height: 300px;
    background-color: #ccc;
    margin-bottom: 20px;
}

.graph {
    height: 200px;
    background-color: #ddd;
}

.right-side {
    width: 60%;
}

.legend {
    height: 300px;
    background-color: #ccc;
    margin-bottom: 20px;
}

.secondary-graph {
    height: 250px;
    background-color: #ccc;
}

/*------------------------Section Rapport------------------------*/
.rapport {
    background-color: #d1a6ff;
    color: white;
    height: 500px;
}

.rapport-content {
    background-color: white;
    padding: 20px;
    color: black;
    border-radius: 5px;
    width: 50%;
}
