#productionButton {
    background-color: #e7a30c;
}

#productionButton:is(:hover, .selected) {
    background-color: #d0920a;
}

#consumptionButton {
    background-color: #ae13bb;
}

#consumptionButton:is(:hover, .selected) {
    background-color: #9811a3;
}

#priceButton {
    background-color: #45b707;
}

#priceButton:is(:hover, .selected) {
    background-color: #3da206;
}

:root {
    --bar-color: #e7a30c;
    --bar-hover-color: #623e03;
}

.bar {
    fill: var(--bar-color);
}
.bar:hover {
    fill: var(--bar-hover-color);
}
.axis--x path,
.axis--x line {
    display: none;
}